{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Django_TP</title>
</head>
<body>
    <div class="content">
        <header>
            <div class="en_tete">
            </div>
            <nav class="navigation"> 
                <a href="#" class="navigation__cont">TP WEB</a>
                <ul class="navigation__liste">
                    <li class="navigation__li"><a class="navigation__reference" href="#"> Home</a></li>
                    <li class="navigation__li"><a class="navigation__reference" href="#"> About</a></li>
                    <li class="navigation__li"><a class="navigation__reference" href="#"> Contact</a></li>
                </ul>
            </nav>
            <div class="afficher">
                <div class="titre"> <h4>Programmation Python</h4> </div>
                <div class="conteneur"> Django</div>
            </div>
        </header>
        
        <section>
        </section>
    </div>
</body>
</html>